/*CSS Reset - 0 the default paddings and margins added by the browser*/
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Condensed", sans serif;
	box-sizing: border-box;
}

/*navbar*/
nav {
	background-color: #2f3061;
	padding: 1rem 5% 1rem;
	text-align: right;
	border-bottom: 2px solid black;
	color: white;

}

nav li {
	display: inline;
	padding-left: .75rem;
	padding-right: .75rem;
}

/*intro*/
#intro {

	padding: 2rem 10% 3rem;
	text-align: center;
	background-color: skyblue;
}

#intro #header {
	font-size: 3rem;
	margin-bottom: .75rem;
}

#intro #subtitle {
	margin-bottom: 2rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: navy;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}